$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap'; //////////Signup///////

//////////////////////////////////
//////////Body/////////
////////////////////////////////

body {
width: 96%;
margin: 10px auto;
padding: 10px;
border: solid #808888 5px;
}

//////////////////////////////////
//////////sign out form/////////
////////////////////////////////
.centered-form {
  margin-top: 10px;
}

.centered-form .panel {
  box-shadow: rgba(0, 0, 0, .2) 15px 15px 15px;
  background-color: #808888;

}
// #container2 {
// padding-left: 30p

#sign-out {
  float:right

}

//////////////////////////////////
//////////Countdow clock/////////
////////////////////////////////
.timer {
  background-color: #000;
  font-family: cursive;
  font-weight: 300;
  text-align: center;
  // color: #ffff00;
}

#countdowntimer {
  color: ffff00;
  font-family: cursive;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.button2 {
  align-content: center;
  background-color: #000000;
  border: 4px solid #1f2f45;
  border-radius: 17px;
  color: #ffff00;
  font-family: fantasy;
  font-size: 20px;
  height: 2%;
  left: 30%;
  margin-top: 200px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #263669;
  width: 40%;
}
////////////////////////
.top {
  background-color: lightgrey;
  color: #808888;
  float: left;
  font-family: Garamond;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  height: 10%;
  padding: 10px;
  width: 100%;
}

.logo {
  color: #808888;
  float: left;
  font-family: Garamond;
  font-size: 99px;
  font-weight: 400;
  height: 100px;
  line-height: 130px;
  padding-left: 3%;
  width: 30%;
  margin: auto;
  padding-top: 70px;
}

.hero {
  background-color: yellow;
  float: left;
  height: 80px;
  padding-top: 10px;
  margin-top: 26px;
  width: 70%;
  padding-left: 20px;
}

// .logs {
//   // border: 4px solid #39cccc;
//   float: left;
//   height: 100px;
//   width: 20%;
// }
/////////////////////////
#table {
  float: left;
  height: 890px;
  margin: auto;
  border-radius: 10px;
  width: 25%;
  background-color: #808888;
  // border: 2px solid #39cccc;
  // color: white;

}

th {
  color: #ffff00;
  font-family: fantasy;
  height: 10px;
  text-align: center;
  width: 10px;
}

tr {
  color: #ffffff;
  font-family: fantasy;
  font-size: 20px;
  font-weight: 200px;
  text-align: center;
}

#inside {
  // background-color: red;
  height: 820px;
  width: 80%;
  border: 3px solid #39cccc;
  align-content: center;
  float: none;
  text-align: center;
  align-content: center;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
}

.middle {
  height: 800px;
  width: 50%;
  // border: 4px solid #39cccc;
  // background-color: blue;
  float: left;
}

.wholepicture {

  text-align: center;
  float: left;
  margin-top: 24px;
  width: 50%;
}



//////////////////////////////////
//////////Small TV's/////////////
////////////////////////////////
.wholepicture1 {
  text-align: center;
  float: left;
  width: 50%;
}

.today {
  align-content: center;
  background-color: black;
  border: 4px solid #1f2f45;
  border-radius: 17px;
  color: #ffffff;
  display: run-in;
  font-family: fantasy;
  font-size: 20px;
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
  text-shadow: 0 1px 0 #263669;
  width: 220px;
  margin:auto;
  padding-top: 10px;
}

.today:hover {
  background-color: #747575;
  color: #ffffff;
}

.yesterday {
  align-content: center;
  background-color: black;
  border: 4px solid #1f2f45;
  border-radius: 17px;
  color: #ffffff;
  display: run-in;
  font-family: fantasy;
  font-size: 20px;
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
  text-shadow: 0 1px 0 #263669;
  width: 220px;
  margin:auto;
  padding-top: 10px;
}

.yesterday:hover {
  background-color: #747575;
  color: #ffffff;
}

.clearsmalltv {
  margin: 10px;
  width: 20px;
}

/////////////////////

#services {
  background-color: black;
  color: yellow;
  font-size: 40px;
  font-family: fantasy;
  font-weight: 300;
  text-align: center;
  height: 40px;
  width: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.button {
  align-content: center;
  background-color: black;
  border: 4px solid #1f2f45;
  border-radius: 17px;
  color: yellow;
  display: run-in;
  font-family: fantasy;
  font-size: 20px;
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
  text-shadow: 0 1px 0 #263669;
  width: 220px;
  margin:auto;
  padding-top: 10px;

}

.button:hover {
  background-color: #747575;
  color: #ffffff;
}

//////////////////////////////////
/////////all services button/////////
////////////////////////////////
.buttonservices {
  align-content: center;
  background-color: black;
  border: 4px solid #1f2f45;
  border-radius: 17px;
  color: #ffffff;
  display: run-in;
  font-family: fantasy;
  font-size: 20px;
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
  text-shadow: 0 1px 0 #263669;
  width: 220px;
  margin:auto;
  padding-top: 10px;

  position: relative;
  display: inline-block;
}

.buttonservices:hover {
  background-color: #747575;
  color: #ffffff;
}

// .dropdown {
//     position: relative;
//     display: inline-block;
// }

.dropdown-content {
    display: none;

    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(116,117,117,0.2);
    border-radius: 15px;
    padding: 12px 16px;

}

.buttonservices:hover .dropdown-content {
display: block;
}

#table1 {
  align-content: center;
  // background-color: #747575;
  border-radius: 10px;
  float: left;
  height: 200px;
  width: 10%;
  margin: auto;
}

// #table2 {
//   align-content: center;
//   // background-color: #747575;
//   border-radius: 10px;
//   float: left;
//   height: 200px;
//   width: 20%;
//   margin: auto;
// }
// th table {
//   width: 200px;
//
// }

.button4 {
  align-content: center;
  background-color: black;
  border: 2px solid #1f2f45;
  border-radius: 10px;
  color: #ffffff;
  display: run-in;
  font-family: fantasy;
  font-size: 12px;
  margin: 5px;
  text-align: center;
  text-shadow: 0 1px 0 #263669;
  width: 120px;
  padding-top: 5px;
}

.button4:hover {
  background-color: #747575;
  color: #ffffff;
}




/////////////random spaces////
.clear {
  margin: 20px;
  width: 20px;
}




#container {
  width: 100%;
  margin: auto;
}


#wholepicture2 {
  width: 10%;
  height: 60%;
  background-color: yellow;
  text-align: center;
  float: left;

}


.dropdown-content1 {

    display: none;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(116,117,117,0.2);
    border-radius: 15px;
    padding: 8px 8px;

}

.button:hover .dropdown-content1 {

background-color: rgba(255, 255, 0, 0.6);
display:inline;
margin-left: 4%;
margin-bottom: 8%;

}

.dropdown-content2 {

    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(116,117,117,0.2);
    border-radius: 15px;


}

.button:hover .dropdown-content2 {

background-color: rgba(255, 255, 0, 0.6);
display:block;
margin-right: 100%;
margin-bottom: 100%;

}

#postButton {
  margin-top: 20px;
  margin-left: 10px;
  z-index: auto;
}

// .form-group {
// width: 50px;
// height: 50px
//
// }
footer {
  font-size: 10px;
  color: white;
}
// #outside {
//   background-color: green;
//   height: 200px;
// }
//
// // .middle1 {
//   // border: 4px solid #39cccc;
//   height: 400px;
//   width: 50%;
//   border: 4px solid #39cccc;
//   background-color: purple;
